.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.editButton {
    background: #168BD9;
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    align-self: center;
    justify-self: center;
}

.editButton:hover {
    background: #0171ba;
}